* {
  font-family: sans-serif;
}

body {
  background-color: WhiteSmoke;
}

.menu {
  word-spacing: 10px;
  background-color: LightSteelBlue;
  color: black;
  margin-top: -10px;
  margin-left: -8.5px;
  text-decoration: none;
  font-size: 95%;
}

a {
  word-spacing: 0px;
  color: black;
  text-indent: 50px;
  text-decoration: none;
}

a:hover {
  background-color: LightSlateGray;
}

.menu .active:hover {
  background-color: DarkSlateGray;
}

.menu .active {
  background-color: SteelBlue;
  color: white;
}

table {
  transform: translate(15%, 50%);
  width: 75%;
  border-collapse: collapse;
  margin-top: 5px;

}

th {
  background-color: LightSlateGray;
}

td,
th {
  width: 150px;
  height: 30px;
  border: 1px;
  border-style: solid;
  text-align: center;
}

td {
  background-color: Silver;
}

tr.a:hover {
  border: 2px;
  border-style: solid;
  font-weight: bold;

}
